<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>LOGIN</title>
    <style type="text/css">
        body {
            background: url(/images/loginBg.jpg) no-repeat center center fixed;
            background-size: cover;
        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/MasterStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/js/owner/login/appLogin.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#register").click(function () {
                $("#loginForm:visible").css("visibility", "hidden");
                $("#registerForm:visible").css("visibility", "visible");
                $("#forgotForm:visible").css("visibility", "hidden");
            });
            $("#login").click(function () {
                $("#loginForm:visible").css("visibility", "visible");
                $("#registerForm:visible").css("visibility", "hidden");
                $("#forgotForm:visible").css("visibility", "hidden");
            });
            $("#forgotPassword").click(function () {
                $("#loginForm:visible").css("visibility", "hidden");
                $("#registerForm:visible").css("visibility", "hidden");
                $("#forgotForm:visible").css("visibility", "visible");
            });

            $("#loginForm:visible").css("visibility", "visibility");
            $("#registerForm:visible").css("visibility", "hidden");
            $("#forgotForm:visible").css("visibility", "hidden");
        });
    </script>


</head>

<body>

    <div ng-app="login" style="position:relative;height: 250px; min-height: 250px; ">

        <div style="position: absolute; top: 30%;left:36.5%; ">
            
            <div style="position: absolute; height: 355px; width: 125px;">
                <button title="Login" id="login" class="subButtonHead1">LOGIN</button>
                <button title="Register" id="register" class="subButtonHead2">REGISTER</button>
                <button title="Forgot Password" id="forgotPassword" class="subButtonHead3">FORGOT PASSWORD</button>
            </div>

            <div class="regLoginBox" id="loginForm" ng-controller="validationLogin">
                <form name="LoginForm" ng-submit="submitLoginForm()">
                    <p style="position : relative; left: 35%;">
                        <input type="text" class="text-box" placeHolder="Nama User" ng-model="user" />
                    </p>
                    <p style="position : relative; left: 35%; top : 5%;">
                        <input type="password" class="text-box" placeHolder="Password" ng-model="pass" />
                    </p>
                    <p style="position : relative; left: 8%; top : 17%;">
                        <button type="submit" class="buttonRegBox" ng-click="redirectToUrl()">LOGIN</button>
                    </p>
                </form>
            </div>

            <div class="regLoginBox" id="forgotForm" ng-controller="forgotPassword">
                <form name="forgotPasswordForm" ng-submit="submitForgotPasswordForm()">
                    <p style="position : relative; left: 35%;">
                        <input type="text" placeHolder="USER ID" class="text-box" ng-model="userId" />
                    </p>
                    <p style="position : relative; left: 8%; top : 17%;">
                        <button type="SUBMIT" name="RESET PASSWORD" class="buttonRegBox">FORGOT</button>
                    </p>
                </form>
            </div>

            <div class="regLoginBox" id="registerForm" ng-control>
                <form ng-submit="submitRegisterForm()">
                    <div id="userInfoId">
                        <p>
                            <input type="text" placeHolder="Nama User" class="text-box-register" ng-model="registerUserName" />
                        </p>
                        <p>
                            <input type="text" placeHolder="User Id" class="text-box-register" ng-model="registerUserId" />
                        </p>

                        <button type="button"><i class="material-icons">arrow_forward</i></button>
                    </div>

                    <div id="userContact">
                        <p>
                            <input type="text" placeHolder="User Email" class="text-box-register" ng-model="registerUserMail" />
                        </p>

                        <p>
                            <input type="text" placeHolder="User Telp." class="text-box-register" ng-model="registerUserPhone" />
                        </p>

                        <p>
                            <button type="button"><i class="material-icons">arrow_back</i></button>
                            <button type="button"><i class="material-icons">arrow_forward</i></button>
                        </p>
                    </div>

                    <div id="userPassword">
                        <p>
                            <input type="password" placeHolder="Password" class="text-box-register" ng-model="registerUserPassword" />
                        </p>
                        <p>
                            <input type="password" placeHolder="Konfirmasi Password" class="text-box-register" ng-model="confirmUserRegisterPassword" />
                        </p>
                        <button type="button"><i class="material-icons">arrow_back</i></button>
                    </div>

                    <button type="submit" name="register" class="buttonRegBox">REGISTER</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>